{% extends "admin/layout.njk" %}
{% block content %}
    <form action="/admin/profile?_method=PUT" method="POST">
        <div class="head">
            <h3>Bem vindo {{ user.name }}</h3>
            <div class="buttons">
                <button type="submit">Salvar</button>
            </div>
        </div>
        <div class="user-fields">
            <div class="item">
                <div>Nome</div>
                <div class="input">
                    <input type="text" name="name" placeholder="Digite o nome completo" value="{{ user.name }}" required/>
                </div>
            </div>
            <div class="item">
                <div>Email</div>
                <div class="input">
                    <input type="email" name="email" placeholder="Digite o seu email" value="{{ user.email }}" onblur="Validade.apply(this, 'isEmail')"/>
                </div>
            </div>
            <div class="item">
                <div>Senha</div>
                <div class="input">
                    <input type="password" name="password" placeholder="Digite um senha"/>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" value={{ user.id }}></form>
    </form>
{% endblock %}