<!DOCTYPE html>
<head>
    <title>Foodfy</title>
    <link rel="stylesheet" href="\styles\admin_styles.css">
    <link rel="stylesheet" href="\styles\messages_styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"/>
</head>
<body>
    {% include "admin/parts/messages.njk" %}
    <header>
        <a href="/admin/">
            <img src="/assets/logo-admin.png" alt="Title"/>
        </a>
        <div class="links-grid">
            <div class="links">
                <a href="/admin/recipes">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
                <a href="/admin/users">USUÁRIOS</a>
            </div>
            {% if session.userId %}
                <form id="logout" action="/admin/users/logout" method="post">
                    <button id="logout-button" type="submit">SAIR
                    </button>
                </form>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
        <script src="/scripts/script_admin.js"></script>
        <script>
            const userLogout = document.querySelector("#logout");
            userLogout.addEventListener("submit", function (event) {
                const confirmation = confirm("Tem certeza que deseja se desconectar?");
                if (! confirmation) {
                    event.preventDefault();
                }
            });
        </script>
    </body>
</body></main></body></html>