@keyframes hidemessage {
    to {
      top: -50px;
      opacity: 0;
      visibility: hidden;
    }
  }

.messages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: absolute;
  width: 344px;
  height: 135px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  top: 16px;
  right: 16px;
  opacity: 1;
  z-index: 1;

  animation: hidemessage 400ms 2s ease-out forwards;
}

.messages.error {
  background-color: #e74c3c;
}

.messages.success {
  background-color: rgb(122, 182, 30);
}