{% extends "admin/layout.njk" %}
{% block content %}
  <form action="/admin/recipes" method="POST" enctype="multipart/form-data">
    <div class="head">
      <h3>Criando receita</h3>
      <button class="buttons" type="submit">Salvar receita</button>
    </div>
    <div class="items">
      <div class="item">
        <div>Imagem da receita</div>
        <div id="photos-container">
          <div id="photos-upload">
            <input
              id="photos-input"
              name="photos"
              type="file"
              multiple
              accept="image/*"
              onchange="PhotosUpload.handleFileInput(event)"/>
            <span class="material-icons">add</span>
          </div>
          <div id="photos-preview">
            {% if files %}
              {% for image in files %}
                <div class="photo" id="{{ image.id }}">
                  <img src="{{ image.src }}" alt="{{ image.name }}"/>
                  <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                </div>
              {% endfor %}
              <input type="hidden" name="removed_files"/>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="item">
        <div>Título</div>
        <div>
          <input type="text" name="title" placeholder="Título da receita"/>
        </div>
      </div>
      <div class="item">
        <div>Chef</div>
        <div>
          <select name="chef_id" required>
            <option value="" disabled selected hidden>Selecione um chef</option>
            {% for chef in chefSelect %}
              <option value="{{ chef.id }}">{{ chef.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div id="ingredients">
        <div>Ingrediente</div>
        <div class="ingredient">
          <input type="text" name="ingredients[]"/>
        </div>
      </div>
      <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
      <div id="preparation">
        <div>Modo de Preparo</div>
        <div class="preparation">
          <input type="text" name="preparation[]"/>
        </div>
      </div>
      <button type="button" class="add-preparation">Adicionar novo passo</button>
      <div class="item">
        <div>Informações adicionais</div>
        <div>
          <textarea name="information"></textarea>
        </div>
      </div>
    </div>
  </form>
{% endblock %}